body {
    background-color: #FFFFFF;
}

.back_ground {
    background-color: #DDDDDD;
    width: 900px;
    height: 800px;
    border: 1px solid black;
    border-bottom: none;
    margin: 50px auto;
}

h1 {
    font-size: 25px;
}

.list {
    background-color: #FFFFFF;
    width: 450px;
    height: 660px;
    margin: 5px auto;
    padding: 20px 40px 60px 40px;
}

.me {
    text-align: center;
}

.contact {
    margin-bottom: 30px;
}

.contact p:first-child {
    margin-bottom: 8px;
}

.contact p:last-child {
    margin-top: 0px;
}

.profile p:first-child {
    margin-bottom: 8px;
}

.profile p:last-child {
    margin-top: 0px;
}

